<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand change-color">Bankapp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <b class="nav-link change-format-text">Poweed by contecta</b>
        </li>
        <li class="nav-item change-space-item active">
          <a class="nav-link change-color" >MIS CUENTAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link">ENVIAR DINERO</a>
        </li>
      </ul>
      <small class="position-name">{{cuenta.nombre}}</small>
      <small class="position-init">Ultimo inicio: {{cuenta.ultimaSesion | date: 'dd/mm/yyyy'}}</small>
    </div>
  </nav>