<header class="font-color-header d-flex justify-content-center">
    <div class="card" style="width: 18rem; height: 6rem; margin-right: 2rem;">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted position-text">SALDO GENERAL EN CUENTAS</h6>
            <p class="card-text postion-sander">$2,000.00</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; height: 6rem; margin-right: 2rem;">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted position-text">TOTAL DE INGRESOS</h6>
            <p class="card-text postion-sander-disabled">$8,000.00</p>
        </div>
    </div>

    <div class="card" style="width: 18rem; height: 6rem; margin-right: 2rem;">
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted position-text">TOTAL DE INGRESOS</h6>
            <p class="card-text postion-sander-disabled">$6,000.00</p>
        </div>
    </div>
</header>

<div class="container-fluid mt-5 mb-5">
    <div class="row">
        <div class="col-4">
            MIS CUENTAS
            <div class="scroll">
                <div class="card">
                    <div class="card-body card-tarjet">
                        <p class="card-text postion-tarjet">$8,000.00</p>
                        <p class="card-text postion-tarjet-status">Activa</p>
                        <p class="card-text postion-tarjet-cuenta">042-23-45-67-89-23-02</p>
                        <p class="card-text postion-tarjet-name">My name</p>
                        <p class="card-text postion-tarjet-title">Titular</p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body card-tarjet-disabled">
                        <p class="card-text postion-tarjet">$8,000.00</p>
                        <p class="card-text postion-tarjet-status">Activa</p>
                        <p class="card-text postion-tarjet-cuenta">042-23-45-67-89-23-02</p>
                        <p class="card-text postion-tarjet-name">My name</p>
                        <p class="card-text postion-tarjet-title">Titular</p>
                    </div>
                </div>
            </div>

            <div class="card border-button-style card-add" data-toggle="modal" data-target=".bd-example-modal-lg">
                AGREGAR TARJETA<i class="fas fa-plus-circle"></i>
            </div>

        </div>
        <div class="col-8">
            MOVIMIENTOS
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Fecha</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col">Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid">
                <div class="row mt-3">
                    <div class="col-6">Bankapp</div>
                    <div class="col-6">Agregar tarjeta</div>
                </div>
                <div class="row mt-2">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <form>
                            <div class="form-group">
                                <input type="text" placeholder="Numero de tarjeta" class="form-control mb-2">
                                <div class="d-flex justify-content-center mb-2">
                                    <input type="text" class="form-control col-6 mr-2" placeholder="Cuenta">
                                    <input type="text" class="form-control col-6" placeholder="Issuer">
                                </div>
                                <input type="text" placeholder="Nombre de tarjeta" class="form-control mb-2">
                                <input type="text" placeholder="Marca" class="form-control mb-2">
                                <input type="text" placeholder="Estatus" class="form-control mb-2">
                                <input type="text" placeholder="Saldo" class="form-control mb-2">
                                <input type="text" placeholder="Tipo de cuenta" class="form-control mb-2">
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-10">
                                <div class="d-flex justify-content-around mb-2">
                                    <button class="btn btn-block btn-secondary mr-1" data-dismiss="modal">Cancelar</button>
                                    <button class="btn btn-block btn-success">Agregar tarjeta</button>
                                </div>
                            </div>
                            <div class="col-1"></div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>